/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #0e091d;
    --color01: #c53253;
    --color02: #a68e5a;
    --color03: #ff6565;
    --color04: #6e6080;
    --color05: #a45782;
    --color06: #8c9785;
    --color07: #aa556f;
    --color08: #4b2054;
    --color09: #c53253;
    --color10: #a68e5a;
    --color11: #ff6565;
    --color12: #6e6080;
    --color13: #a45782;
    --color14: #8c9785;
    --color15: #dc8f7c;
}
