:root {
--color00: #0e091d;
--color01: #0e091d;
--color02: #0e091d;
--color03: #aa556f;
--color04: #dc8f7c;
--color05: #dc8f7c;
--color06: #dc8f7c;
--color07: #dc8f7c;
--color08: #c53253;
--color09: #ff6565;
--color0A: #ff6565;
--color0B: #a68e5a;
--color0C: #8c9785;
--color0D: #6e6080;
--color0E: #a45782;
--color0F: #c53253;
}
